{% extends 'layouts/main.html' %}
{% block content %}

<h1> Todo List </h1>
<div class="todo-list">
{% for todo in todos %}
  <span class="todo"><a href="/todo/{{todo.id}}">{{todo.title}}</a> <input class="completed" id="completed-{{todo.id}}" data-urlupdate="/todo/{{todo.id}}"  type="checkbox" {{ "checked" if todo.completed }}></input> </span>
{% endfor %}
</div>
<script>
Array.from(document.querySelectorAll('.completed')).forEach((element) => {
  element.addEventListener('change', (evt) => {
    fetch(element.dataset.urlupdate, { method: "UPDATE"})    
  })  
})
</script>
{% include 'pages/add-todo.html' %}
{% endblock %}

